<div class="toolbar-container">
<div class="toolbar">
  
    <div class="top-layer">
      <div class="admin">
        Master
      </div>
      <button class="logout-button" (click)="logout()">
        Logout <span class="dropdown-arrow"></span>
      </button>
      
    </div>
    <div class="bottom-layer">
      
      <div class="scroll-indicator left"></div>
    <div class="tab" [ngClass]="{'active': activeTab === 'Storage Location Master'}" (click)="setActiveTab('Storage Location Master')">
      Storage Location Master
      <div class="active-indicator" *ngIf="activeTab === 'Storage Location Master'"></div>
    </div>
      <div class="tab" [ngClass]="{'active': activeTab == 'Currency Master'}" (click)="setActiveTab('Currency Master')">
        Currency Master
        <div class="active-indicator" *ngIf="activeTab == 'Currency Master'"></div>
      </div>
      <div class="tab" [ngClass]="{'active': activeTab == 'UOM Master'}" (click)="setActiveTab('UOM Master')">
        UOM Master
        <div class="active-indicator" *ngIf="activeTab == 'UOM Master'"></div>
      </div>
      <div class="tab" [ngClass]="{'active': activeTab == 'Incoterms Master'}" (click)="setActiveTab('Incoterms Master')">
        Incoterms Master
        <div class="active-indicator" *ngIf="activeTab == 'Incoterms Master'"></div>
      </div>
      <div class="tab" [ngClass]="{'active': activeTab == 'Payment Master'}" (click)="setActiveTab('Payment Master')">
        Payment Master
        <div class="active-indicator" *ngIf="activeTab == 'Payment Master'"></div>
      </div>
      <div class="tab" [ngClass]="{'active': activeTab == 'Tax Master'}" (click)="setActiveTab('Tax Master')">
        Tax Master
        <div class="active-indicator" *ngIf="activeTab == 'Tax Master'"></div>
      </div>
      <div class="tab" [ngClass]="{'active': activeTab == 'Terms Master'}" (click)="setActiveTab('Terms Master')">
        Terms Master
        <div class="active-indicator" *ngIf="activeTab == 'Terms Master'"></div>
      </div>
    </div>
  </div>
  </div>
  