

/* Styling for the toolbar */
.toolbar {
  display: flex;
  width: 100%;
  height: 100px;
  // position: fixed; /* Fix the toolbar to the top */
  top: 0;
  left: 0;
  z-index: 100;
  flex-direction: column;
  background: linear-gradient(to bottom, #ff8a44, #e36115d2);
  color: white;
  margin-bottom: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 50px;
  // border-radius: 8px;
}

/* Styling for the top layer */
.top-layer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.admin {
  font-size: 15px;
  font-weight: bold;
}

  .logout-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    margin-right: 5px;
  }

// .logout-button:hover {
//   color: #ffd700;
// }

/* Styling for the dropdown arrow */
.dropdown-arrow {
  width: 1px;
  height: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white; /* Adjust the size and color as needed */
  // position: absolute;
  right: 0;
  margin-top: 10px;
  margin-left: 10px; /* Add spacing between the text and the arrow */
}

/* Styling for the bottom layer (tabs) */
.bottom-layer {
  // display: flex;
  align-items: center;
  overflow-x: auto;
  background-color: rgba(234, 237, 240, 0.995); /* Dark background color for the bottom layer */
  padding: 10px 20px;
  // border-radius: 0 0 8px 8px;
}

.tab {
  position: relative; /* Needed for the absolute positioning of the indicator */
  display: inline-block;
  padding: 10px 16px;
  font-size: 16px;
  color: rgb(16, 16, 16);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

// .tab:hover {
//   background-color: #e4a4a4; /* Slight background change on hover */
// }

/* Add spacing between the tabs */
.tab + .tab {
  margin-left: 12px;
}

/* Styling for the active tab */
.tab.active {
  color: #ff8a44; /* Orange text color for active tab */
}

/* Styling for the orange line under active tab */
.active-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ff8a44; /* Orange line color for active tab */
}
