<div class="toolbar">
    <div class="top-layer">
      <div class="admin">
        Admin
      </div>
      <button class="logout-button">
        Logout
      </button>
    </div>
    <div class="bottom-layer">
      <div class="scroll-indicator left"></div>
      <div class="tab">Storage Location Master</div>
      <div class="tab">Currency Master</div>
      <div class="tab">UOM Master</div>
      <div class="tab">Incoterms Master</div>
      <div class="tab">Payment Master</div>
      <div class="tab">Tax Master</div>
      <div class="tab">Vendor Master</div>
      <div class="tab">Product Master</div>
      <div class="tab">Customer Master</div>
      <div class="scroll-indicator right"></div>
    </div>
  </div>
  