$primary-color: #ff8a44;
$background-color: #f2f2f2;

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background-color;
  
  .login-box {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;

    h2 {
      color: $primary-color;
      margin-bottom: 15px;
    }

    input {
      width: 85%;
      padding: 10px;
      // margin-right: 10px;
      margin: 5px 0;
      border: 1px solid #ff8a44;
      border-radius: 4px;
      transition: border-color 0.3s;
      
      &:focus {
        border-color: #ff8a44;
      }
    }

    button {
      padding: 10px;
      background-color: $primary-color;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}
