/* Initial styles for the sidenav */
.sidenav {
  width: 60px; /* Initial width */
  height: 100vh; /* Full height of the viewport */
  background-color: #263238; /* Dark background color */
  color: white;
  transition: width 0.3s; /* Transition for width change */
  overflow: hidden; /* Hide overflow content when collapsed */
}

/* Additional styles for the expanded sidenav */
.sidenav.expanded {
  width: 250px; /* Expanded width */
  overflow: auto; /* Enable scrolling for expanded content */
}

/* Styling for the links in the sidenav */
.mat-nav-list a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.mat-nav-list a:hover {
  background-color: #37474f; /* Darker background color on hover */
}

/* Styling for the main content area */
.mat-sidenav-content {
  padding: 20px;
}
