<mat-sidenav-container>
  <mat-sidenav #drawer mode="over" disableClose="true" [ngStyle]="isOpened ? {'width':'175px'} : {'width':'55px'}"
      opened class="drawer" (mouseenter)="isOpened=true" (mouseleave)="isOpened=false">
    <mat-nav-list>
      <!-- "Customers" link -->
      <a mat-list-item (click)="onCustomersClick()">
        <mat-icon>people</mat-icon>
        <span class="link-text">Customers</span>
      </a>
      <!-- Add more sidenav links if needed -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div id="SideNav">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" [ngClass]="isOpened ? 'expanded' : 'normal'">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [matTreeNodePaddingIndent]="isOpened ? 10 : 80"
            (click)="menuClicked(node)">
          <div [ngClass]="node.name === selectedMenu? 'selected' : 'not-selected'" class="menuItem">
            <button mat-icon-button disableRipple>
              <mat-icon disableRipple
                  [ngStyle]="node.name === selectedMenu ? {'color':'#ff7000','margin-left': '0px'} : {'color': 'white','margin-left': '-7px'}">{{node.icon}}</mat-icon>
            </button>
            <span *ngIf="isOpened"
              [ngStyle]="node.name === selectedMenu ? {'color':'#ff7000'  } : {'color': 'white'}">{{node.name}}</span>
          </div>
        </mat-tree-node>
        <div style="padding-left: 5px !important">
          <mat-tree-node #expandableTree *matTreeNodeDef="let node;when: hasChild" matTreeNodeToggle class="menuItem">
            <button mat-icon-button disableRipple (click)="menuClicked(node)">
              <mat-icon [ngStyle]="node.name === selectedMenu ? {'color':'white'  } : {'color': 'white'}">
                  {{node.icon}}
              </mat-icon>
            </button>
            <button *ngIf="isOpened" mat-icon-button disableRipple [attr.aria-label]="'Toggle ' + node.name"
              class="expandTree">
              <mat-icon class="mat-icon-rtl-mirror"
                [ngStyle]="node.name === selectedMenu ? {'color':'white'} : {'color': 'white'}">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <span *ngIf="isOpened"
              [ngStyle]="node.name === selectedMenu ? {'color':'white'  } : {'color': 'white'}">{{node.name}}</span>
          </mat-tree-node>
        </div>
      </mat-tree>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
