   
   <div class="container">
   
   <app-sidebar></app-sidebar>
 

<!-- Main Content Area -->
<div class="main-container">
  <!-- Include the Toolbar Component -->
<app-toolbar></app-toolbar>
  <div class="toolbar-space"></div>
  <!-- <div class="card-container">
    <mat-card class="card users-card">
      <mat-card-content>
        <h2>{{ totalUsers }}</h2>
        <h2>Users</h2>
        </mat-card-content>
    </mat-card>
    
   
    <mat-card class="card roles-card">
      <mat-card-content>
        <h2>{{ totalRoles }}</h2>
        <h2>Roles</h2>
      </mat-card-content>
    </mat-card>
  </div> -->


  <!-- Add Customer and Delete Buttons -->
<div class="button-container">

  
  <div class="search-box">
    <div class="input-container">
      <input matInput placeholder="Search Items" />
      <mat-icon class="search-icon">search</mat-icon>
    </div>
  </div>
  <button mat-raised-button color="primary" class="add-button" (click)="onAddCustomerClick()">
    <mat-icon class="button-icon">add</mat-icon>
    Add Customer
  </button>
  
  <button mat-raised-button color="primary" class="template-button ">
    <mat-icon class="button-icon">get_app</mat-icon>
    Template
  </button>
  
  <button mat-raised-button color="primary" class="upload-button">
    <mat-icon class="button-icon">cloud_upload</mat-icon>
    Upload
  </button>
  
  <button mat-raised-button color="primary" class="update-button">
    <mat-icon class="button-icon">update</mat-icon>
    Update
  </button>
  
  <button mat-raised-button color="primary" class="save-button">
    <mat-icon class="button-icon">save</mat-icon>
    Save
  </button>
  
  <button mat-raised-button color="warn" class="delete-button" (click)="onDeleteSelectedCustomers()">
    <mat-icon class="button-icon">delete</mat-icon>
    Delete
  </button>
</div>


  <div class="table-container flex-grow-1">
    <div class="table-scroll-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-striped table-hover">

      <!-- Customer ID Column -->
      <ng-container matColumnDef="customerId">
        <th mat-header-cell *matHeaderCellDef> Customer ID </th>
        <td mat-cell *matCellDef="let customer"> {{customer.customerId}} </td>
      </ng-container>

      <!-- Customer Name Column -->
      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef> Customer Name </th>
        <td mat-cell *matCellDef="let customer"> {{customer.customerName}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let customer"> {{customer.email}} </td>
      </ng-container>

      <!-- Contact No Column -->
      <ng-container matColumnDef="contactNo">
        <th mat-header-cell *matHeaderCellDef> Contact No </th>
        <td mat-cell *matCellDef="let customer"> {{customer.contactNo}} </td>
      </ng-container>

      <!-- Last Order Date Column -->
      <ng-container matColumnDef="lastOrderDate">
        <th mat-header-cell *matHeaderCellDef> Last Order Date </th>
        <td mat-cell *matCellDef="let customer"> {{customer.lastOrderDate | date: 'yyyy-MM-dd'}} </td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let customer">
          <button mat-icon-button color="primary" (click)="onEditCustomerClick(customer)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Delete Checkbox Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let customer">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleCustomerSelection(customer)"></mat-checkbox>
        </td>
      </ng-container>
      

      <!-- Table header and row definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
  
  </div>
</div>


  