

/* Style the toolbar */
/* Add styles for the table */
.mat-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;

  /* Style the table header */
  .mat-header-row {
    background-color: #f57c00;
    color: white;
    font-weight: bold;

    /* Style the edit and delete buttons */
    .mat-icon-button {
      color: #f57c00;
    }
  }

  .mat-cell,
  .mat-header-cell {
    padding: 8px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;

    /* Style the checkboxes */
    .mat-checkbox {
      margin-right: 8px;
    }
  }

  /* Style the rows on hover */
  .mat-row:hover {
    background-color: #fafafa;
  }
}

/* Style the Add and Delete buttons */
.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 12px;

 /* Search Box Styles */
.search-box {
  display: flex;
  align-items: left;
  margin-right: 10px; /* Add some right margin to create space between the search box and other elements */

}

.input-container {
  position: relative;
  width: 200px;
  display: flex;
  align-items: center;
  background-color: silver; /* Silvery background color */
  border-radius: 4px;
  flex: 1; /* Allow the input to take up remaining space */
}

/* Styling for the input */
input {
  border: none;
  background-color: transparent; /* Make the input background transparent */
  padding: 8px; /* Add some padding to match the icon's size */
  border-radius: 4px;
  outline: none; /* Remove the default focus outline */
  width: 100%; /* Occupy all available space */
}

/* Styling for the search icon */
.search-icon {
  position: absolute;
  right: 10px; /* Adjust the position as needed */
  font-size: 20px; /* Adjust the font size as needed */
  color: gray; /* Icon color */
  pointer-events: none; /* Let clicks and hover events pass through the icon */
}



  /* Style the Add button */
  .add-button {
    background-color: #1369f4;
    color: white;
    font-weight: bold;
    margin-left: 10px;

    // &:hover {
    //   transform: scale(1.20);
    // }
  }

  /* Style the Delete button */
  .delete-button {
    background-color: #1369f4;
    color: white;
    font-weight: bold;
    margin-left: 10px;

    // &:hover {
    //   transform: scale(1.20);
    // }

  }
  .template-button {
    background-color: #1369f4;
    color: white;
    font-weight: bold;
    margin-left: 10px;

    // &:hover {
    //   transform: scale(1.20);
    // }
  }

  .upload-button {
    background-color: #1369f4;
    color: white;
    font-weight: bold;
    margin-left: 10px;

    // &:hover {
    //   transform: scale(1.20);
    // }
  }

  .update-button {
    background-color: #1369f4;
    color: white;
    font-weight: bold;
    margin-left: 10px;

    // &:hover {
    //   transform: scale(1.20);
    // }
  }

  .save-button {
    background-color: #1369f4;
    color: white;
    font-weight: bold;
    margin-left: 10px;  

    // &:hover {
    //   transform: scale(1.20);
    // }
  }
}

/* Add a new container to hold the sidebar and customer table */
.container {
  display: flex;
}


/* Adjust the position of the table */
.table-container {
  flex-grow: 1;
  margin-top: 16px;
  margin-left: 25px;
  z-index: 0;
  // margin-left: 80px; /* Adjust the left margin to align with the sidenav bar */
}

/* Add a bit of padding to the main content area */
.main-content {
  padding: 16px;
}



/* Adjust the position of the buttons and search box container */
.button-container,
.search-box {
  display: flex;
  align-items: center;
}

// /* Add styles for the cards */
// .card-container {
//   display: flex;
//   align-items: center;
//   margin-bottom: 20px;
//   margin-left: 100px;

//   .card {
//     width: calc(20% - 5px);
//     padding: 5px;
//     border: 1px solid #0f0101;
//     border-radius: 8px;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//     transition: transform 0.3s ease-in-out;

//     &:hover {
//       transform: scale(1.20);
//     }

//     h2 {
//       align-items: center;
//       margin-bottom: 5px;
//       color: #0c0c0cfe;
//       font-size: 18px;
//       font-weight: bold;
//     }

//     p {
//       color: #0d0b0b;
//     }

//     /* Styles for Users Card */
//     &.users-card {
//       background-color: #abb3a3;
//     }

//     /* Styles for Roles Card */
//     &.roles-card {
//       background-color: #cca470;
//     }
//   }
// }


.table-scroll-container {
  flex-grow: 1; /* Allow the container to grow within its parent */
  overflow: auto; /* Enable scrollbars if the content overflows */
}